/* REGISTER PAGE STYLES */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.register-box {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 350px;
    padding: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.register-title {
    font-weight: 600;
    color: var(--text-secondary);
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.register-footer {
    font-size: 12px;
    color: var(--text-secondary);
    margin-top: 15px;
}